a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0;
}

.header,
.main,
.bottom {
    display: flex;
    flex-direction: column;

}

.header,
.header ul {
    display: flex;
    flex-direction: row;
}

.header ul {
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.topIcon {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: large;
}

.main {
    display: flex;
    flex-direction: column;
}

.mainTitle {
    display: flex;
    width: 100%;
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.topbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category {
    margin-right: 100px;
}

.firstLine {
    display: flex;
    justify-content: center;
    text-align: center;
}

.num1md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product01 {
    width: 200px;
    height: 200px;
    background-color: rgb(200, 36, 36);
}

.num2md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product02 {
    width: 200px;
    height: 200px;
    background-color: rgb(28, 177, 88);
}

.num3md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product03 {
    width: 200px;
    height: 200px;
    background-color: rgb(44, 40, 181);
}

.secondLine {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.num4md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product04 {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 95, 231);
}

.num5md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product05 {
    width: 200px;
    height: 200px;
    background-color: rgb(92, 210, 228);
}

.num6md {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product06 {
    width: 200px;
    height: 200px;
    background-color: rgb(125, 233, 113);
}

.pageflip {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bottom {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bMenu,
.bNewsletter,
.bCoinfo {
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

.Icon {
    text-align: right;
    margin-right: 10px;
}

.footer p {
    margin-top: 0;
    margin-right: 10px;
    text-align: right;
}