/* header style */
.header {
    width: 100%;
    height: 50px;
    background-color: cadetblue;
}


/* content style */
.content {
    width: 100%;
}


/* footer style */
.footer {
    width: 100%;
    height: 200px;
    background-color: cadetblue;
}