* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  padding: 50px 150px;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: silver;
  margin-bottom: 30px;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.head {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.head.search {
  justify-self: center;
}

aside {
  width: 30%;
  background-color: black;
}

.body {
  width: 70%;
  background-color: cornflowerblue;
}
