/* header style */
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}


/* content style */
.content {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: crimson;
}


/* footer style */
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: black;
    color: white;
}