@import "variable.scss";

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

hr {
  border: 1px solid #ddd;
}

body {
  overflow-y: scroll;
  padding-top: 200px;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  padding: 20px 80px;
  position: fixed;
  font-size: 16px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 30px;
    font-weight: 900;
    flex: 1;
  }
  ul {
    display: flex;
    line-height: 30px;
    justify-content: space-between;
    flex: 2;
  }
  div {
    flex: 1;
    line-height: 30px;
    text-align: right;
  }
}

main {
  width: 100%;

  section {
    &.top {
      h2 {
        font-size: 80px;
        font-weight: 900;
        padding: 0 80px;
        padding-bottom: 300px;
      }
      ul {
        display: flex;
        justify-content: space-between;
        padding: 20px 80px;

        li.round_box {
          span {
            display: inline-block;
            border: 1px solid #000;
            padding: 8px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
}
        }
      }
      p.scroll {
        width: 100%;
        padding-top: 80px;
        text-align: center;
        color: #aaa;
      }
    }
  }
}

.head {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.head.search {
  display: flex;
  justify-content: center;
}

aside {
  width: 350px;
  background-color: $basic-bg-color;
  border-radius: 15px;
  padding: 20px;
}

.body {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: $basic-gap;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid white;
}

.profile.image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: aliceblue;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.content-box {
  width: 33.33%;
  background-color: $basic-bg-color;
  border-radius: 15px;
}
