@import "variable.scss";
@import "icon.scss";

html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
  letter-spacing: -1px;
  cursor: default;
}

a {
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #000;
}

body {
  overflow-y: scroll;
  padding-top: 200px;
  background-color: #EDEDE8;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  padding: 20px 80px;
  position: fixed;
  font-size: 1.75rem;
  font-family: 'Quicksand', sans-serif;
  top: 0;
  left: 0;
  display: flex;
  letter-spacing: -1px;
  font-weight: 500;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100;
  h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    flex: 1;
  }
  ul {
    display: flex;
    line-height: 30px;
    justify-content: space-between;
    flex: 1;
  }
  a {
    mix-blend-mode: difference;
    color: $hex-3-color;
  }
  div {
    flex: 1;
    line-height: 30px;
    text-align: right;
  }
}

main {
  width: 100%;

  section {
    &.top {
      h2 {
        font-size: 11rem;
        font-weight: 900;
        padding: 0 80px;
        padding-bottom: 130px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: -6px;
        cursor: default;

        span {
          display: inline-block;
          background-image: url('/images/main_thum.jpg');
          background-size: cover;
          width: 14rem;
          height: 9rem;
          border-radius: 0.5rem;
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
}
      }
      ul {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.8rem;
        padding: 20px 80px;

        li.round_box {
          span {
            cursor: pointer;
            position: relative;
            top: -2rem;
            border: 1px solid #000;
            padding: .75rem 1.25rem;
            border-radius: 2rem;
              
            + span {
              top: -.75rem;
              margin-left: 5px;
              width: 3.75rem;
              height: 3.75rem;
            }
          }
          &:hover span {
            background-color: #000;
            color: #fff;
            transition: .25s ease-in;
          }
        }
      }
      .swiper {
        width: 100%;
        height: 3.5rem;
        margin-top: 25px;
        margin-bottom: 35px;
        text-align: center;
        color: #ccc;
        font-size: 4rem;
        font-weight: 900;
        z-index: -1;
      }
    }
  }
}
.middle {
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  background-color: $hex-1-color;
  margin: 1rem 0;
  padding-top: 8rem;
  padding-bottom: 3rem;
  transform: translateY(0%);
  transition: transform 2s ease .2s;

  .text-banner {
    margin-top: 2.75rem;
    height: 32rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;

    div.marquee {
      ul {
        display: flex;
        width: max-content;
        height: 28rem;

        li {
          font-size: 32rem;
          letter-spacing: -1.75rem;
          margin-top: -2.75rem;
          margin-right: 9rem;
          line-height: 30rem;
        }
      }
    }
  }
  hr {
    background-color: #fff;
  }
}
.content {
  border-radius: 1.75rem;
  width: 100%;
  position: relative;
  top: -3rem;
  color: #fff;
  background-color: $hex-4-color;
  padding-bottom: 5rem;
  transform: translateY(0%);
  transition: transform 2s ease .4s;

  hr {
    background-color: #fff;
  }

  h4 {
    padding: 9rem 4.5rem;
    font-size: 5.5rem;
    span {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 9px;
    }
  }
  .discript {
    display: flex;
    padding: 1rem 4.5rem 12rem;
    line-height: 2.75rem;
    font-size: 1.75rem;

    .line_01 {
      flex: 2;
    }
    .line_02 {
      flex: 1;
      
      span {
        display: inline-block;
        width: 30rem;
      }
    }
    .line_03 {
      display: flex;
      align-items: flex-end;
      padding-left: 10rem;
      flex: 1;

      span a {
        box-shadow: inset 0 -1px 0 #fff;
      }
    }
  }
  .prof_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4.5rem 4rem;

    .profile {
      font-size: 5.5rem;

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        width: 180px;
        background-color: $hex-3-color;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        line-height: 2.5rem;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        cursor: pointer;

        .icon_dot {
          top: 5px;
        }

        &:hover {
          background-color: #fff;
          color: $hex-3-color;
          transition: all .3s ease-in-out;

          .icon_dot {
            background-color: $hex-3-color;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
    .prof_img {
      width: 50%;
      height: 50rem;
      background-image: url('/images/main_prof.jpg');
      background-size: cover;
      background-position: 50% 25%;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }
}
.bottom {
  position: relative;
  top: -200px;

  h6 {
    padding: 6rem 4.5rem 4rem;
    font-size: 5.5rem;
    z-index: -2;
  }
  .project_wrapper {
    display: flex;
    gap: 1.5rem;
    padding: 0 5rem;
    
    h6 {
      font-size: 2rem;
      padding: 0;
    }
    .project_01 {
      width: 100%;
      padding: 3rem 0;

      .icon_dot {
        width: 1.25rem;
        height: 1.25rem;
        background-color: #000;
        margin-right: 0.5rem;
        position: relative;
        top: -1px;
      }
      .proj_img_wrapper {
        width: 100%;
        height: 50rem;
        padding: 2rem 0;

        .proj_img {
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          -ms-border-radius: 1rem;
          -o-border-radius: 1rem;
          background-size: 150%;
          background-position: 50%;
          background-repeat: no-repeat;

          &.img01 {
            background-image: url('/images/proj_img_01.png');
          }
          &.img02 {
            background-image: url('/images/proj_img_02.jpg');
            background-position: 50% 30%;
          }
          &.img03 {
            background-image: url('/images/proj_img_03.jpg');
          }
          &.img04 {
            background-image: url('/images/proj_img_04.jpg');
          }
          &.img05 {
            background-image: url('/images/proj_img_05.jpg');
          }
          &.img06 {
            background-image: url('/images/proj_img_06.jpg');
          }

          &:hover {
            margin: 2rem;
            width: calc(100% - 4rem);
            height: calc(100% - 4rem);
            background-size: 130%;
            transition: all .7s ease-in-out, background-size .7s ease;
          }
        }
      }
      .proj_tag {
        span {
          padding: 10px 15px;
          border: 1px solid $hex-3-color;
          border-radius: 20px;
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            background-color: $hex-3-color;
            color: #fff;
            transition: all .5s ease;
          }
        }
      }
    }
  }
  .full-page {
    display: flex;
    justify-content: center;

    .case_studies {
      display: flex;
      justify-content: space-between;
      width: 350px;
      padding: 15px 25px;
      margin: 100px 0;
      background-color: $hex-3-color;
      color: #fff;
      font-size: 24px;
      font-weight: 900;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      cursor: pointer;

      .icon_dot {
        position: relative;
        width: 15px;
        height: 15px;
        top: 2px;
      }

      &:hover {
        background-color: #000;
        transition: all .5s ease;
      }
    }
  }
}
