.dplot_promotion_container {
    font-family: 'Pretendard', sans-serif;
    position: relative;
    width: 100%;
    max-width: 1280px;
    font-size: 0;
    margin: 0 auto;
}

.dplot_promotion_container button {
    cursor: pointer;
}

.main_visual {
    position: relative;
    height: 573px;
    background-color: #000;
}

.main_visual .animation .title_01 {
    animation-name: up-down;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.main_visual .animation .title_02 {
    animation-name: up-down;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.main_visual .main_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_visual .title {
    position: absolute;
}

.main_visual .title_01 {
    z-index: 10;
}

.main_visual .title_02 {
    right: 0;
}

.main_visual .title_03 {
    position: relative;
    z-index: 50;
}

.coupon_part {
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 173px 0 148px;
}

.tab-wrapper {
    position: relative;
    display: flex;
    top: 0;
    z-index: 100;
}

.tab-wrapper.fixed {
    position: fixed;
    top: 0;
}

.tab-wrapper .tab_01 {
    box-shadow: 0 1px 0 1px #1a1a1a inset;
    width: 320px;
    height: 36px;
    background-image: url('../assets/images/tab_01.png');
}

.tab-wrapper .tab_01:active {
    background-image: url('../assets/images/tab_01_active.png');
}

.tab-wrapper .tab_01.active {
    background-image: url('../assets/images/tab_01_active.png');
    background-color: #000;
}

.tab-wrapper .tab_02 {
    box-shadow: 0 1px 0 1px #1a1a1a inset;
    width: 320px;
    height: 36px;
    background-image: url('../assets/images/tab_02.png');
}

.tab-wrapper .tab_02:active {
    background-image: url('../assets/images/tab_02_active.png');
}

.tab-wrapper .tab_02.active {
    background-image: url('../assets/images/tab_02_active.png');
}

.tab-wrapper .tab_03 {
    box-shadow: 0 1px 0 1px #1a1a1a inset;
    width: 320px;
    height: 36px;
    background-image: url('../assets/images/tab_03.png');
}

.tab-wrapper .tab_03:active {
    background-image: url('../assets/images/tab_03_active.png');
}

.tab-wrapper .tab_03.active {
    background-image: url('../assets/images/tab_03_active.png');
}

.tab-wrapper .tab_04 {
    box-shadow: 0 1px 0 1px #1a1a1a inset;
    width: 320px;
    height: 36px;
    background-image: url('../assets/images/tab_04.png');
}

.tab-wrapper .tab_04:active {
    background-image: url('../assets/images/tab_04_active.png');
}

.tab-wrapper .tab_04.active {
    background-image: url('../assets/images/tab_04_active.png');
}

.coupon_download {
    padding-top: 76px;
}

.coupon_wrapper {
    display: flex;
    justify-content: center;
    gap: 59px;
    margin-bottom: 77px;
}

.coupon_download .coupon_box {
    position: relative;
}

.coupon_download .coupon_box .download_button {
    position: absolute;
    top: -17px;
    right: -45px;
    filter: grayscale(1) brightness(200%);
}

.coupon_download .coupon_box .download_button:active {
    filter: none;
}

.coupon_download .download_all_button {
    filter: grayscale(1) brightness(200%);
}

.coupon_download .download_all_button:active {
    filter: none;
}

.coupon_download .notice_read {
    padding-top: 46px;
}

.coupon_download .notice_read .notice_content {
    padding-top: 24px;
    display: none;
}

.coupon_download .notice_read.show .notice_content {
    display: block;
}

.coupon_download .notice_read.show .notice_title .close {
    display: block;
}

.coupon_download .notice_read .notice_title .close {
    display: none;
}

.coupon_download .notice_read .notice_title .open {
    display: block;
}

.coupon_download .notice_read.show .notice_title .open {
    display: none;
}

.purchase_best_part {
    padding-top: 153px;
    padding-bottom: 134px;
    text-align: center;
}

.purchase_best_part > .title_box {
    padding-bottom: 41px;
}

.ranking_wrapper {
    text-align: left;
    max-width: 1137px;
    margin: 0 auto;
}

.ranking_wrapper > .title_box {
    padding-bottom: 15px;
}

.ranking_wrapper .rank_button_wrapper {
    display: flex;
    max-width: 1137px;
    justify-content: space-between;
    margin-bottom: 26px;
}

.ranking_wrapper .rank_button_wrapper a {
    filter: grayscale(1) brightness(200%);
}

.ranking_wrapper .rank_button_wrapper a:active {
    filter: none;
}

.ranking_wrapper .rank_button_wrapper:last-child {
    margin-bottom: 0;
}

.brand_show_box {
    padding-top: 77px;
    max-width: 960px;
    margin: 0 auto;
}

.brand_show_box .swiperItem {
    overflow: hidden;
    max-width: 960px;
    position: relative;
    box-shadow: inset 0 0 0 1px #000;
}

.brand_show_box .swiperItem .swiper-slide {
    display: flex;
}

.brand_show_box .text_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    padding-top: 163px;
    padding-left: 53px;
}

.brand_show_box .text_wrap.two_line {
    padding-top: 117px;
}

.brand_show_box .swiperItem .swiper-slide .text_wrap > img {
    margin-bottom: 35px;
}
.brand_show_box .swiperItem .swiper-slide .text_wrap > h3 {
    margin-bottom: 21px;
    line-height: 34px;
}
.brand_show_box .swiperItem .swiper-slide .text_wrap.two_line > h3 {
    line-height: 50px;
}
.brand_show_box .swiperItem .swiper-slide .text_wrap > p {
    margin-bottom: 36px;
    line-height: 16px;
}

.brand_show_box .swiperItem h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.brand_show_box .swiperItem p {
    font-size: 23px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.brand_show_box .swiperItem .brand_link {
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.brand_show_box .swiperItem .brand_link:active {
    color: #698c00;
}

.brand_show_box .swiperItem .swiper-button-prev {
    position: absolute;
    width: 64px;
    height: 70px;
    top: 230px;
    left: 23px;
    color: transparent;
}

.brand_show_box .swiperItem .swiper-button-next {
    position: absolute;
    top: 230px;
    right: 23px;
    width: 64px;
    height: 70px;
    color: transparent;
    background-image: url('../assets/images/arrow_right_black.png');
}

.swiperItemBox {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.swiperItemBox::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
}


.swiperItemBox .swiper-wrapper {
    transition: none;
}


.swiperItemBox .swiper-slide {
    position: relative;
}

.swiperItemBox .swiper-slide {
    border-right: 1px solid #000;
}

.swiperItemBox .swiper-slide .item_box {
    width: 240px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiperItemBox .swiper-slide .img_box {
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: center;
    position: relative;
}

.swiperItemBox .swiper-slide .img_box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiperItemBox .swiper-slide .title_box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperItemBox .swiper-slide .title_box {
    color: #000;
    text-align: center;
    font-family: 'Pretendard';
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.swiperItemBox .swiper-slide .title_box.fs-15 {font-size: 15px; line-height: 20px;}
.swiperItemBox .swiper-slide .title_box.fs-13 {font-size: 13px; line-height: 17px;}
.swiperItemBox .swiper-slide .title_box.fs-18 {font-size: 18px; line-height: 23px;}

.swiperItemBox .swiper-slide:active {
    background-color: #f9f6ea;
}

.like_best_part {
    background-color: #ddd;
    text-align: center;
    padding-top: 174px;
    padding-bottom: 134px;
}

.like_best_part .insta_frame .insta_heart {
    position: absolute;
    z-index: 10;
}

.like_best_part .insta_frame .insta_heart_01 {
    top: 120px;
    left: 191px;
}

.like_best_part .insta_frame .insta_heart_02 {
    top: 342px;
    right: -93px;
}

.like_best_part .insta_frame .insta_heart_03 {
    top: 545px;
    left: -35px;
}

.snsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.snsBox .swiperInsta {
    position: absolute;
    width: 577px;
    overflow: hidden;
}

.swiperInsta .swiper-pagination {
    position: relative;
    padding-top: 29px;
    top: initial;
    bottom: initial;
}

.swiperInsta .swiper-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background-color: #fff;
    box-shadow: 0 0 0 2px #000 inset;
    opacity: 1;
}

.swiperInsta .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 11px;
    height: 11px;
    background-color: #000;
}

.swiperInsta .swiper-button-next {
    color: transparent;
    width: 65px;
    height: 70px;
    top: 48%;
    right: 25px;
    background-image: url(../assets/images/arrow_right.png);
    filter: grayscale(1) brightness(200%);
    background-size: contain;
}

.swiperInsta .swiper-button-next:active {
    filter: none;
}

.swiperInsta .swiper-button-prev {
    color: transparent;
    width: 65px;
    height: 70px;
    top: 48%;
    left: 25px;
    background-image: url(../assets/images/arrow_left.png);
    filter: grayscale(1) brightness(200%);
    background-size: contain;
}

.swiperInsta .swiper-button-prev:active {
    filter: none;
}

.snsBox .heart_box {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snsBox .heart_box .insta_heart {
    position: absolute;
}

.snsBox .heart_box .insta_heart_01 {
    top: -315px;
    left: -148px;
}

.snsBox .heart_box .insta_heart_02 {
    top: -82px;
    left: 320px;
}

.snsBox .heart_box .insta_heart_03 {
    top: 70px;
    right: 270px;
}

.snsBox .insta_frame {
    position: relative;
}

.link_banner {
    max-width: 960px;
    border: 0.5px solid #2c2c2c;
    margin: 60px auto 0;
}

.link_banner .banner_swiper {
    overflow: hidden;
}

.link_banner .banner_swiper .swiper-wrapper{
    transition: none;
}

.link_banner .banner_box {
    padding: 32px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.link_banner .banner_box .title_box {
    text-align: left;
}

.link_banner .banner_box .title_box h3 {
    font-weight: 700;
    font-size: 35px;
}

.link_banner .banner_box .title_box p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
}

.link_banner .banner_box .link_direct {
    margin-left: auto;
}

.link_banner .banner_box .link_direct button {
    font-family: 'Pretendard', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.link_banner .banner_box .link_direct button:active {
    color: #698c00;
}

.like_best_part .brand_button {
    margin-top: 60px;
    filter: grayscale(1) brightness(0);
}

.like_best_part .brand_button:active {
    filter: none;
}

.mds_pick_part {
    padding-top: 169px;
    padding-bottom: 168px;
    text-align: center;
}

.mds_pick_part .brand_box {
    padding-top: 81px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px;
    max-width: 960px;
    margin: 0 auto;
}

.mds_pick_part .brand_box a .kai_select {
    width: 466px;
    height: 594px;
    background-image: url('../assets/images/mds_pick_kai.png');
}

.mds_pick_part .brand_box a:active .kai_select {
    background-image: url('../assets/images/mds_pick_kai_active.png');
}

.mds_pick_part .brand_box a .metalmorphose {
    width: 466px;
    height: 594px;
    background-image: url('../assets/images/mds_pick_metalmorphose.png');
}

.mds_pick_part .brand_box a:active .metalmorphose {
    background-image: url('../assets/images/mds_pick_metalmorphose_active.png');
}

.mds_pick_part .brand_box a .doyoramseoul {
    width: 466px;
    height: 594px;
    background-image: url('../assets/images/mds_pick_doyoramseoul.png');
}

.mds_pick_part .brand_box a:active .doyoramseoul {
    background-image: url('../assets/images/mds_pick_doyoramseoul_active.png');
}

.mds_pick_part .brand_box a .daat {
    width: 466px;
    height: 594px;
    background-image: url('../assets/images/mds_pick_daat.png');
}

.mds_pick_part .brand_box a:active .daat {
    background-image: url('../assets/images/mds_pick_daat_active.png');
}
